html {
  @apply bg-dark-300;
}

a {
  @apply text-blue-300 duration-150 underline hover:text-blue-500 active:text-blue-700;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-lg bg-dark-400;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-dark-50;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}

/* Handle when pressed */
::-webkit-scrollbar-thumb:active {
  @apply bg-blue-700;
}

button {
  @apply !outline-none text-lg font-bold bg-dark-300 hover:bg-dark-200 active:bg-dark-100 rounded-lg w-max p-1 px-2 mb-2 mx-1;
}

.modal {
  @apply h-full bg-dark-400 bg-opacity-80 w-full top-0 left-0 z-50 fixed;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
