/** Fredoka font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
	--bg-full: #000000;
	--bg-0: #080808;
	--bg-1: #161616;
	--bg-2: #232323;
	--bg-3: #2f2f2f;
	--bg-4: #3a3a3a;
	--bg-5: #444444;

	--contrast-full: #ffffff;
	--contrast-0: #f2f2f2;
	--contrast-1: #e6e6e6;
	--contrast-2: #cccccc;
	--contrast-3: #b3b3b3;
	--contrast-4: #808080;
	--contrast-5: #4d4d4d;

	--bg-color: var(--bg-1);
	--text-color: #fcfcfc;

	font-family: "Fredoka", sans-serif;
	font-size: 19px;
}

/** TODO: Before adding theme switch, adjust these values **/
:root.light {
	--bg-full: #ffffff;
	--bg-0: #808080;
	--bg-1: #b3b3b3;
	--bg-2: #cccccc;
	--bg-3: #e6e6e6;
	--bg-4: #eeeeee;
	--bg-5: #efefef;

	--contrast-full: #000000;
	--contrast-0: #080808;
	--contrast-1: #161616;
	--contrast-2: #232323;
	--contrast-3: #2f2f2f;
	--contrast-4: #3a3a3a;
	--contrast-5: #444444;

	--bg-color: var(--bg-1);
	--text-color: #080808;
}

@keyframes bscale {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 2px 2px;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	min-height: 100vh;

	margin: 0;
}

hr {
	border-color: var(--bg-0);
}

button:focus-visible,
a:focus-visible {
	outline: 2px solid #ff80aa;
	outline-offset: 2px;
}

.button {
	margin-block: 0.25rem;
	padding: 0.2rem 0.5rem;

	border-radius: 0.4rem;
	text-align: center;

	background-color: var(--bg-3);
	color: inherit;
}

.button:hover {
	background-color: var(--bg-4);
}

.button:active {
	background-color: var(--bg-5);
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

h3 {
	font-size: 1.1rem;
	font-weight: bold;
}

li {
	margin-left: 1rem;
	list-style-type: disc;
}

.iconify {
	display: inline-block;
	vertical-align: -0.25em;
	width: 1.25em;
	height: 1.2em;
	transition: color 150ms ease-in-out;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: var(--bg-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--bg-4);
	border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-5);
}
