@import "@fontsource/overpass";
@import "@fontsource/overpass-mono";

:root {
	--dark-text-color: #ffffff;
	--dark-background-color: #131313;
	--dark-lighter-background-color: #232323;
	--dark-contrast-color: #ffffff;
	--dark-translucent-contrast-color: #ffffff10;
	--dark-less-translucent-contrast-color: #ffffff20;

	--contrast-color: var(--dark-contrast-color);
	--translucent-contrast-color: var(--dark-translucent-contrast-color);
	--text-color: var(--dark-text-color);
	--background-color: var(--dark-background-color);
	--lighter-background-color: var(--dark-lighter-background-color);
	--less-translucent-contrast-color: var(--dark-less-translucent-contrast-color);

	--primary-color: #60a5fa;
	--secondary-color: #4c84c9;
	--tertiary-color: #274974;

	font-size: 18px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;

	border: none;
	outline: none;

	box-sizing: border-box;

	font-weight: normal;
	font-style: normal;
	font-size: 1rem;

	line-height: 1.1;

	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100vw;
	height: 100vh;

	font-family: "Overpass", sans-serif;

	background-color: var(--background-color);
	color: var(--text-color);
}

code {
	font-family: "Overpass Mono", monospace;
}

h1 {
	font-size: 2rem;
}

hr {
	border-bottom: 3px solid var(--translucent-contrast-color);
	margin: 0.5rem 0;
}

a {
	color: var(--primary-color);

	&:hover {
		color: var(--secondary-color);
	}

	&:active {
		color: var(--tertiary-color);
	}
}
